{% extends'base.html.twig' %}



{% block title %}Edit Information - {{ parent() }}{% endblock %}
{% block PageName %}TEST MAGGLE{% endblock %}
{% block PageDescription %}
    ici t'as les test mon coco
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>TEST</h1>
            </div>
        </div>
    </div>
{% endblock %}


