<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}ePortFolio{% endblock %}</title>
    </head>

    <body>
    {% include 'navbarBase.html.twig' %}

    <div class="jumbotron">
        <div class="container">
            <h1>{% block PageName %}Accueil{% endblock %}</h1>
            <p>{% block PageDescription %}Bonjour est bienvenu sur le site mon ePortfolio. Ce site vous permet de créer et partager vôtre ePortefolio.{% endblock %}</p>
        </div>
    </div>
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Description</h2>
                        <p>Sur ce site vous allez pouvoir créer votre ePortfolio personnalisé. Vous pouvez accéder a l'ensemble des ePortefolio des autres utilisateur. </p>
                    </div>


                    <div class="col-md-4">
                        <h2>Nous Rejoindre</h2>
                        <p>Vous pouvez déjà procéder à une inscription cela vous permettra de créer votre propre ePortfolio</p>
                        <p><a class="btn btn-default" href={{ path('pw_user_connexion') }} role="button">Inscription &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Nous contacter</h2>
                        <p>Vous pouvez nous contacter avec l'adresse mail suivante. mailAdmin@eportfolio.com</p>
                    </div>
                </div>
            </div>
        {% endblock %}
    <hr>
        {% block javascripts %}{% endblock %}
    <footer>
        <p>{% block Footer %}&copy; 2016 JB_PA_VG, Inc.{% endblock %}</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>

</html>
