{% extends'base.html.twig' %}



{% block title %}Edit Ergonomie - {{ parent() }}{% endblock %}
{% block PageName %}Edit Ergonomie{% endblock %}
{% block PageDescription %}
    {{ include("PWPortfolioBundle::editNavbar.html.twig") }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Ergonomie</h1>
                <p>Le bon formulaire ca mere </p>
            </div>

            <div class="col-lg-12">
                <h1>WOUALALAL</h1>
                <p>Tu trouveras l'ensemble de ce que tu trouveras necessaire pour réaliser un portfolio dans notre tuto</p>
            </div>
        </div>
    </div>
{% endblock %}


