{% extends'base.html.twig' %}



{% block title %}Edit Acceuil - {{ parent() }}{% endblock %}
{% block PageName %}Edit Acceuil{% endblock %}
{% block PageDescription %}
    {{ include("PWPortfolioBundle::editNavbar.html.twig") }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1>Introduction</h1>
                <p>Vous allez retrouver dans cette partie les données concernant l'introduction de votre ePortfolio. Vous allez pouvoir définir une description de votre projet ainsi qu'une image définissant votre ePortfolio.</p>
            </div>
            <div class="col-lg-12">
                <h1>Information</h1>
                <p>Cette partie concerne vos informations composant votre ePortfolio. Vous allez pouvoir renseigner vos projets, vos compétences et vos expériences.</p>
            </div>
            <div class="col-lg-12">
                <h1>Ergonomie</h1>
                <p>La partie Ergonomie concerne l'ensemble de l'affichage de votre ePortfolio. Dans cette partie vous allez pouvoir choisir le thème de votre ePortfolio.</p>
            </div>


        </div>
    </div>
{% endblock %}


