{% extends'base.html.twig' %}

{% block title %}Profile - {{ parent() }}{% endblock %}
{% block PageName %}Profile{% endblock %}
{% block  PageDescription %}Vous avez accées a vos données personnel vous pouvez les modifiers et choisir si ils peuvent être visible ou non par les différents visiteurs.{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <h2>Information personnel</h2>
        <p>Ajouter le formulaire pour le magnifique formulaire;</p>
    </div>
</div>
{% endblock %}